.profile {
    background-color: #F8F9FA;
}

.loginBlock {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 50px;
}

.profilePhoto {
  text-align: center;
}

.profilePhoto div{
  text-align: left;
  font-size: small;
}

.profilePhoto img {
  max-width: 30vh;
  max-height: 40vh;
}

.profileInfo {
  padding: 1em;
}

.profileInfo div{
  padding: 1em;
}