.app-wraper {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr 1fr;
}

.app-wraper-nav {
  border-right: 1px solid #E6E6E6;
}

.app-wraper-content {
  background-color: white;
}

.app-wraper-profile {
  background-color: #F8F9FA;
}

@media only screen and (max-width: 600px) {

  .app-wraper {
    display: grid;
    grid-template-columns: 12fr;
  }

  .app-wraper-content {
    background-color: white;
  }

}
@media only screen and (max-width: 1024px) {
  .app-wraper {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }
  
  .app-wraper-nav {
    border-right: 1px solid #E6E6E6;
  }
  
  .app-wraper-content {
    background-color: white;
  }
}
