.app-wraper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "n cc p";
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 3fr 6fr 2fr 1fr;
}

.app-wraper-content {
  background-color: white;
}

.app-wraper-profile {
  grid-area: p;
  background-color: #F8F9FA;
}